<% provide :title, t("allbooks") %>
<h1><%= t :allbooks %></h1>
<div class="row">
  <% @books.each do |book| %>
    <%= render "shared/show_book", book: book %>
  <% end %>
  <%= will_paginate %>
</div>
