<% if current_user? @user %>
  <%= link_to t("updateprofile"), edit_user_path(@user.id), class: "btn btn-primary" %>
<% else %>
  <div id="follow_form">
    <%= render current_user.following?(@user) ? "unfollow" : "follow" %>
  </div>
<% end %>
