@import "bootstrap-sprockets";
@import "bootstrap";

/* all */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

a:hover {
  text-decoration: none;
}

.time-small {
  font-size: 0.9em;
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #eaeaea;
  padding-top: 8px;
}

footer a:hover {
  text-decoration: none;
}

footer p {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* home page */
#homebackground {
  background: url(home-background.jpg) center center;
  background-size: cover;
  overflow: hidden;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* books */
.book {
  border-left: 6px solid red;
  background-color: #e7ffff;
  margin: 10px;
  padding: 10px;
}

/* profile */
.profile-btn-group {
  float: left;
  margin-right: 10px;
}

/* activities */
.activity {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}

.activity:hover {
  border: 1px solid blue;
}

/* category */
.category {
  border-left: 6px solid #2196F3;
  background-color: #e7ffff;
  margin: 10px;
  padding: 10px;
}

/* request */
.request {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 5px;
}

.request:hover {
  border: 1px solid blue;
}

/* user */
.user {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 5px;
}

.user:hover {
  border: 1px solid black;
  background-color: #e7ffff;
}
